.row{
	width: 100%;
}

/* Mobile Styles */
@media (max-width: 767px) {
.col-sm-1, .col-sm-2, .col-sm-3
 }
}
 .col-sm-1{
 	width: 100%;
 }
 .col-sm-2{
 	width:100%;
 }
 .col-sm-3{
 	width:100%;
 }

/* Tablet Styles */
@media (min-width: 768px)  {
.col-md-1, .col-md-2, .col-md-3

  }
 .col-md-1{
 	width: 50%;
 }
 .col-md-2{
 	width: 50%;
 }
 .col-md-3{
 	width:100%;
 }

/* Desktop Styles */
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3

  }
  .col-lg-1{
  	width: 33.3%;
  }
  .col-lg-2{
  	width: 33.3%;
  }
  .col-lg-3{
  	width:33.3%;
  }

h1{
	color: black;
	text-align: center;
	padding-top: 30px;
}
p{
	font-size: 14px;
	text-align: left;

    margin: 20px 10px 4px 10px;
    padding-top: 20px;


}

h6{
	font-size: 16px;
	text-align: center;
	padding: 0px 15px 5px 15px;

}

.boxes {

	border: 1px solid black;
  position: relative;
  top: 50px;
  width: 320px;
 margin: 10px;
}

.float{
	float: left;
	margin: 10px;

}


.sboxes{
	border: 1px solid black;
  position: relative;
  top: 10px;
  width: 140px;
  margin-top: -12px;
  padding-top: 4px;
  float: right;
  
}

.sboxes1{
	background-color: pink;
}

.sboxes2{
	background-color: red;
}

.sboxes3{
	background-color: yellow;
}

*  {
  box-sizing: border-box;
}